   body {
        overflow: hidden;
        margin: 0;
        background: url('BackGrounds/GrassAndSand.png');
        font-family: 'VCR_OSD';
        user-select: none;
    }

    @font-face {
        font-family: '4Brain';
        src: url('Fonts/4Brain.ttf');
    }

    @font-face {
        font-family: 'VCR_OSD';
        src: url('Fonts/VCR_OSD_MONO.ttf');
    }

    #Player {
        position: absolute;
        background: url("Entites/PlayerScope.png") no-repeat center;
        background-size: contain;
        image-rendering: pixelated;
        z-index: 1;
        width: 100px;
        height: 100px;
    }

    .enemy {
        position: absolute;
        background-image: url("Entites/TankBottom.gif");
        background-repeat: no-repeat;
        background-position: center;
        image-rendering: pixelated;
        width: 96px;
        height: 96px;
        transition: top 5s linear;
        top: 0;
        transform: rotate(180deg);
    }

    .enemyturret {
        position: absolute;
        width: 96px;
        height: 96px;
        background-size: 768px 96px;
        background-position: 0 0;
        image-rendering: pixelated;
    }

    .plane {
        position: absolute;
        width: 50px;
        height: 50px;
        background: url('Entites/Planes.png') no-repeat;

        background-position: 0 0;
        background-size: 200px 50px;

        transform: rotate(270deg);
        transition: left 1.5s linear;
        left: 100%;
        image-rendering: pixelated;
    }

    .payload {
        width: 40px;
        height: 40px;
        position: absolute;
        background: url('Entites/Payload.png') no-repeat;

        background-position: 0 0;
        background-size: 1320px 40px;

        transform: scale(1);
        transition: transform 1s linear;
        image-rendering: pixelated;
    }

    .destruction {
        width: 40px;
        height: 40px;
        position: absolute;
        background: url('Explosion.gif');
        background-repeat: no-repeat;
        background-position: center;
    }

    #line {
        display: none;
        height: 2px;
        background: red;
        position: absolute;
        user-select: none;
        color: transparent;
    }

    .enemyline {
        display: none;
        width: 2px;
        top: 96px;
        height: 100%;
        background: red;
        position: absolute;
        user-select: none;
        transition: top 5s linear;
        color: transparent;
    }

    .marker {
        position: absolute;
        top: -20px;
        font-size: 12px;
        color: black;
    }

    .enemymarker {
        position: absolute;
        left: 5px;
        width: 50px;
        font-size: 12px;
        color: black;
    }

    #MiddleBar {
        position: absolute;
        display: flex;
        width: 30%;
        left: 50%; 
        transform: translate(-50%);
        text-align: center;
        flex-direction: column;
    }

    #BaseHealt {
        width: 100%;
        border: 1px solid black;
        background:#90ee90;
    }

    #Menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        background: url('BackGrounds/MenuBG.png') no-repeat;
        background-size: 500px 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        image-rendering: pixelated;
        z-index: 2;
    }

    #start {
        margin: 10px;
        width: 100px; 
        height: 100px; 
        border: 10px solid #d1b296;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        animation: pulse 1s infinite alternate;
    }

    @keyframes pulse {
        from {transform: scale(0.9);}
        to {transform: scale(1);}
    }

    #AimAssist {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 50px;
        width: 100px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        padding: 5px;
        background: #e9d9b8;
    }

    #MenuText {
        font-family: 'VCR_OSD'; 
        font-size: 20px;
        width: 85%;
    }